
@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{ 
    var ServerUrl = @Configuration.GetSection("BackendUrl")["Default"];
}
<table class="table">
    <tr>
        <th>Sản phẩm</th>
        <th>Tên sản phẩm</th>
        <th>Giá tiền</th>
        <th style="text-align:center">Số lượng</th>
        <th>Xóa</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @{
                var imagePath = ServerUrl + @item.productVm.ImageLocation[0];
            }
            <td><img src=@imagePath alt=" Card image cap" width=180 height=100></td>
            <td>@item.productVm.Name</td>
            <td style="color:red">@item.productVm.Price</td>
            <td style="text-align:center">@item.Quantity</td>
            <td style="text-align:center">@item.productVm.Id</td>
            <td>
                <a asp-action="RemoveItem" asp-controller="Cart" asp-route-Id="@item.productVm.Id" class="badge badge-danger" style="width:50px">Xóa</a>
            </td>
        </tr>
    }
    <tr>
        <th colspan="2"></th>
        <th style="text-align:center">Thành tiền:</th>
        @{
            double totalPerPro = 0;
            double total = 0;
            foreach (var item in Model)
            {
                totalPerPro = item.Quantity * item.productVm.Price;
                total += totalPerPro;
            }
            <th style="color:red; text-align:center; font-size:20px"> $@total</th>
        }
        <th> <a class="btn btn-danger" asp-action="clearCart" style="width:150px;">Thanh toán</a></th>
    </tr>
    }

</table>